.breadcrumb {
  padding: 0 0.5rem;
}

.breadcrumb ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem 0 0.25rem;
  content: "/";
  color: #474A8A;
}

.breadcrumb a {
  color: #474A8A;
    text-decoration: none;
}
