.page-header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px;
}

.page-header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.page-header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.page-header a.logo:before {
    color: white;
    background-color: #474A8A;
    padding: 2px;
    border-radius: 4px;
    content: "PHP";
}

.page-header a:hover {
  background-color: #ddd;
  color: black;
}
